AVATAR_URL=https://pbs.twimg.com/profile_images/334447130/FDC_400x400.jpg
BUILD_URL=https://discord.com/api/webhooks/952926285271814164/qYuFhOWcA-lQictpEpVTFMBOoBHzi3FkUpWQva6OzivEXXTZgNLkqqxTtDo4-rtcJ-CA
DISCORD_USERNAME=Mensageiro do apocalipse
PULLREQUEST_URL=https://discord.com/api/webhooks/953000896860684358/ejFpE5O8hbdYYhRrujdm3jx2gCl3Euu-xu7mBlGYUqsKC0pfBGP3WYKEEnSz1Ed5zbbs
WORK_ITEM_UPDATE_URL=https://discord.com/api/webhooks/958818020422221855/5REVzAgLls-vO-El9PksqaGX2NSB95q2e_Me8a5yEF3n1_h3f9J512h1VEdnM4AEfQgh
